/***************************************************************
CSS customers style
***************************************************************/
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: #169a76;
  color: white;
}

/***************************************************************
Content styles (TD tag in the main middle row)
***************************************************************/
.content {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: center;
	vertical-align: top;
}

.container {
  border-radius: 5px;
  border-style: solid;
    border-width: 2px;
  border-color: #4e6e6f;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
}
/***************************************************************
CSS for links
***************************************************************/
a.bot1g{
    background:linear-gradient(to bottom, #126d54, #2fb18d) #156952 repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #529a87;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
        text-decoration:none;
    
    font-size: 17px;
        width:120px;
    line-height: 20px;
    padding: 4px 12px;
    text-align: left;
    vertical-align: top;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a.bot1g:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

a.bot1g:active {

  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  box-shadow:
   inset rgba(0,0,0,.8) 0 1px 2px,
   inset rgba(0,0,0,.05) 0 -1px 0,
   #fff 0 1px 1px;
}

a.bot1g:hover {
	  background: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.15));

  -webkit-transform: translateY( -3px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

a.bot1{
    background:linear-gradient(to bottom, #f7ffff, #cacaca) #ebfffa repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
        text-decoration:none;
    
    font-size: 17px;
        width:120px;
    line-height: 20px;
    padding: 4px 12px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: top;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

a.bot1:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

a.bot1:active {

  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  box-shadow:
   inset rgba(0,0,0,.8) 0 1px 2px,
   inset rgba(0,0,0,.05) 0 -1px 0,
   #fff 0 1px 1px;
}

a.bot1:hover {
	  background: linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.15));

  -webkit-transform: translateY( -3px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

a.bot2:link, a.bot2:visited {
  background-color: #ffffff;;
  color: black;
  border: 1px solid #6d6d6d;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
}

a.bot2:hover, a.bot2:active {
  background-color: #4e6e6f;
  color: white;
}

/***************************************************************
CSS for all JSP pages
***************************************************************/
body {
	margin: 0;
}

#header, #footer, .content {
	border: 0px solid;	
}

/***************************************************************
Style of the main table
***************************************************************/
#main-container {
	width: 100%;
	height: 100%;
}

/***************************************************************
Header style (TD tag in the first top row)
***************************************************************/
#header {
	height:25px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
  background-color: #f2f2f2;
  padding: 4px;
  width: 100%;
  margin-bottom: 10px;
}

/***************************************************************
Style for the left located head menu (DIV tag at left)
***************************************************************/
#leftHeader {
	float: left;
	margin-left: 10px;
	padding: 2px;
	margin-top: 5px;
}

/***************************************************************
Style for the right located head menu (DIV tag at right)
***************************************************************/
#rightHeader {
	float: right;
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
	padding: 2px;
	width: 23%;
}



/***************************************************************
Footer style (TD tag in the last bottom row)
***************************************************************/
#footer {
	text-align: center;
	background-color: #f2f2f2;
}

/***************************************************************
Style for the ERROR message
***************************************************************/
.error {
	font-size: large;
	color: rgb(204, 0, 0);
}

/***************************************************************
Miscellaneous
***************************************************************/
.center {
	text-align: center;
	vertical-align: middle;
}

.noborder {
	border: 2px solid red;	
}
td {
	text-align: left;
	padding: 10px;
}

table {
	border-collapse:collapse;
}

* {
  box-sizing: border-box;
}

body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

input[type=text],input[type=password],input[type=email], input[type=number], select, textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 4px 4px 4px 0;
  display: inline-block;
}

input[type=submit].edit {
  background-color: #4e6e6f;
  color: white;
  padding: 12px 40px ;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit].edit:hover {
  background-color: #334748;
}

input[type=submit].form {
  background-color: #4CAF50;
  color: white;
  padding: 12px 40px ;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit].form:hover {
  background-color: #409243;
}

input[type=submit].delete {
  background-color: #d90404;
  color: white;
  padding: 12px 40px ;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit].delete:hover {
  background-color: #ab0303;
}

input[type=submit].sdel {
  background-color: #d90404;
  color: white;
  padding: 5px 40px ;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit].sdel:hover {
  background-color: #ab0303;
}


.row {
	text-align:left;
	padding:4px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 0px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 0px;
}

.header {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius:10px;
  background-color: #f2f2f2;
  padding: 4px;
  width: 100%;
  margin-bottom: 10px;
}
.header:after {
	padding:10px;
}
/***************************************************************
CSS validation
***************************************************************/
.validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 20px 15px 20px;
background-repeat: no-repeat;
background-position: 0px center;
text-align: center;	
color: #ff0000;
background-color: #fbdbd1;
} 

/***************************************************************
CSS list of answers
***************************************************************/
ol.latin {list-style-type: lower-latin;}


#pageLeftFooter {
	float: left;
	margin-left: 10px;
}

/***************************************************************
Style for the right located head menu (DIV tag at right)
***************************************************************/
#pageRightFooter {
	float: right;
	text-align: right;
	margin-right: 10px;
}


.timer {
	color: white;
	text-align: center;
	position: fixed;
  	right: 15px;
 	font-size: 18px;
	padding:15px 25px;
	border-radius: 4px;
	font-size: 150%;
	background-color: #156952;
  	border: 2px solid #0d4838;
}



.navbar {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 9px 21.5px;
    background-color: #169a76;
    font-family: inherit;
    margin: 0;
    background-image: url(../images/localization.png);
        background-size: 100% 100%;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #0f6f55;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}










